* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    line-height: 2;
}

h1 {
    font-size: 5vh;
}

label, input, p {
    font-size: 3.75vh;
}

input[type="button"] {
    width: 10vw;
}

.greyColor {
    color: darkgrey;
}

.container {
    width: auto;
    height: 100vh;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.msgErreur {
    color: red;
}