* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    line-height: 2;
}

h1 {
    font-size: 48px;
}

label, input, p {
    font-size: 36px;
}

p {
    color: darkgrey;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.msgErreur {
    color: red;
}